@import "./animation";
* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Signika', sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: lighter;
}

body {
    width: 100vw;
    height: 100vh;
    // background-image: url(../images/battle1Backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#background {
    width: 100%;
    height: 94%;
    // background-color: aqua; // need delete after finish
    position: relative;
}

audio {
    z-index: 100;
    opacity: 0.7;
    position: absolute;
    display: none;
}

#PH-area {
    z-index: 20;
    margin-top: 1vh;
    width: 100vw;
    height: 16vh;
    // background-color: pink; // need delete after finish
    position: relative;
    .PH-area-health {
        &-bar {
            width: 60vw;
            height: 3vh;
            box-sizing: border-box;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 2vh;
            margin-left: 5vw;
            overflow: hidden;
            .PH-area-health-bar-content {
                width: 20vw; //need reset after finish
                height: 3vh;
                background-color: red; // need delete after finish
                transition: all 0.5s linear;
            }
        }
        &-name,
        &-point {
            font-size: 1rem;
            font-family: 'Signika', sans-serif;
            color: white;
        }
    }
    &-user {
        width: 70vw;
        height: 8vh;
        // background-color: silver; // need delete after finish
        &-name,
        &-health-point {
            margin-left: 5vw;
        }
    }
    &-com {
        width: 70vw;
        height: 8vh;
        // background-color: gold; // need delete after finish
        position: absolute;
        right: 0;
        bottom: 2vh; // make the com area move up 2vh
        &-name,
        &-health-point {
            text-align: right;
            margin-right: 5vw;
        }
        &-health-bar {
            transform: rotate(180deg);
        }
    }
}

#start-battle {
    z-index: 99;
    position: absolute;
    top: 40vh;
    left: 35vw;
    width: 30vw;
    height: 8vh;
    color: white;
    border-radius: 4vh;
    font-size: 1.2rem;
    text-transform: uppercase;
    box-shadow: 1px 1px 0 rgb(0, 26, 255);
    background: linear-gradient(90deg, #FFFFFF -43.33%, #F4FF71 -43.32%, rgba(255, 92, 0, 0.79) 121.11%);
}

#return,
#bgm {
    width: 10vw;
    height: 10vw;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 0.5rem;
    text-shadow: 1px 1px 1px gray;
    border: 1px solid rgb(255, 230, 0);
    border-radius: 5vw;
    box-shadow: 1px 1px 0 rgb(0, 26, 255);
    background: linear-gradient(90deg, #FFFFFF -43.33%, #F4FF71 -43.32%, rgba(255, 92, 0, 0.79) 121.11%);
}

#bgm {
    position: relative;
    top: 10vw;
    left: -11vw;
}

#timer {
    width: 10vw;
    height: 60vh;
    // background-color: blue; // need delete after finish
    position: absolute;
    bottom: 0;
    .timer-bar {
        box-sizing: border-box;
        width: 6vw;
        height: 60vh;
        border: 2px solid white;
        border-radius: 0 0 3vw 3vw;
        margin-left: 2vw;
        display: flex;
        transform: rotate(180deg);
        &-current {
            height: 0; //need reset after finish
            width: 3vw;
            background-color: rgb(255, 115, 0);
            position: relative;
            &-img {
                width: 5vw;
                transform: rotate(180deg);
                position: absolute;
                bottom: -4vw;
            }
        }
    }
    #timer-com-bar-current {
        background-color: rgb(0, 255, 234); //need delete after finish
        height: 0; //need reset after finish
        &-img {
            margin-left: -2vw; //adjust pictrue position
        }
    }
}

#battle {
    width: 90vw;
    height: 80vh;
    // background-color: chartreuse; // need delete after finish
    position: absolute;
    left: 10vw;
    bottom: 0;
    overflow: hidden;
    p {
        font-family: 'Signika', sans-serif;
        font-size: 1rem;
        color: white;
        font-weight: lighter;
    }
    &-area-user {
        width: 80vw;
        height: 50vh;
        // background-color: darkorange; // need delete after finish
        position: absolute;
        left: 16vw;
        bottom: 0;
        transition: all 0.5s linear;
        transform: scale(1.2);
        &-character {
            z-index: 20;
            position: absolute;
            // background-color: red;
            width: 30vw;
            height: 50vh;
            bottom: 5vh;
            img {
                height: 35vh;
                position: absolute;
                bottom: 0;
            }
            #battle-area-user-character-word {
                color: black;
                text-align: center;
                line-height: 20vw;
                background-image: url(../images/userDailogue.png);
                width: 40vw;
                height: 20vw;
                background-size: cover;
                position: absolute;
                left: 10vw;
                top: 8vh;
                transform: scale(0.0);
            }
        }
        &-pokemon {
            z-index: 10;
            // background-color: white;
            width: 50vw;
            height: 30vh;
            position: absolute;
            left: 30vw;
            img {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 20vw;
                animation: wave 0.8s linear infinite;
            }
            div {
                position: absolute;
                // background-color: red;
                width: 30vw;
                left: 20vw;
                bottom: 10vw;
                p {
                    font-family: 'Signika', sans-serif;
                    font-size: 1rem;
                    color: white;
                }
            }
        }
        &-btn {
            // background-color: yellow;
            width: 30vw;
            height: 20vh;
            position: absolute;
            right: -6vw;
            bottom: 0;
            #attack {
                background-color: red;
            }
            #buff {
                background-color: blue;
            }
            #stop {
                background-color: purple;
            }
            #healing {
                background-color: green;
            }
            button {
                width: 30vw;
                height: 4vh;
                color: white;
                border-radius: 2vh;
                display: block;
                margin-bottom: 1vh;
            }
            #skill-btn {
                z-index: 99;
                width: 20vw;
                height: 5vh;
                position: absolute;
                border-radius: 2.5vh;
                left: -26vw;
                top: 10vh;
                color: rgb(255, 255, 255);
                font-family: 'Signika', sans-serif;
                font-size: 0.8rem;
                text-shadow: 0 0 5px #000000;
                background: linear-gradient(90deg, #00FF29 -43.33%, #EBFF00 42.31%, rgba(255, 0, 0, 0.79) 121.11%);
                animation: BtnTwinkle 0.3s linear infinite;
                display: none;
            }
            #battle-area-user-character-btn {
                z-index: 99;
                width: 10vw;
                height: 10vw;
                background-image: url(../images/pokeBall.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                // background-color: #fff;
                position: absolute;
                left: -20vw;
                bottom: 12vh;
                animation: BtnScale 0.3s linear infinite;
                display: none;
            }
        }
        &-skill {
            width: 50vw;
            height: 10vh;
            // background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 3vw;
            #spirit-bar-max {
                box-sizing: border-box;
                width: 50vw;
                height: 3vh;
                border: 1px solid white;
                border-radius: 1.5vh;
                overflow: hidden;
                position: absolute;
                bottom: 1vh;
                &-current {
                    width: 22vw;
                    height: 3vh;
                    background-color: red;
                    border-radius: 1.5vh;
                    transition: all 0.5s linear;
                }
            }
        }
    }
    #battle-area-user-btn {
        // background-color: yellow;
        width: 30vw;
        height: 20vh;
        position: absolute;
        right: 2vw;
        bottom: 0;
        #attack {
            background-color: red;
        }
        #buff {
            background-color: blue;
        }
        #stop {
            background-color: purple;
        }
        #healing {
            background-color: green;
        }
        button {
            width: 30vw;
            height: 4vh;
            color: white;
            border-radius: 2vh;
            display: block;
            margin-bottom: 1vh;
        }
        #skill-btn {
            z-index: 99;
            width: 20vw;
            height: 5vh;
            position: absolute;
            border-radius: 2.5vh;
            left: -26vw;
            top: 10vh;
            color: rgb(255, 255, 255);
            font-family: 'Signika', sans-serif;
            font-size: 0.8rem;
            text-shadow: 0 0 5px #000000;
            background: linear-gradient(90deg, #00FF29 -43.33%, #EBFF00 42.31%, rgba(255, 0, 0, 0.79) 121.11%);
            animation: BtnTwinkle 0.3s linear infinite;
            display: none;
        }
        #battle-area-user-character-btn {
            z-index: 99;
            width: 10vw;
            height: 10vw;
            background-image: url(../images/pokeBall.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            // background-color: #fff;
            position: absolute;
            left: -20vw;
            bottom: 12vh;
            animation: BtnScale 0.3s linear infinite;
            display: none;
        }
    }
    &-area-com {
        width: 60vw;
        height: 30vh;
        // background-color: red; // need delete after finish
        position: absolute;
        right: 5vw;
        top: 0;
        &-character {
            z-index: 25;
            position: absolute;
            // background-color: green;
            width: 20vw;
            height: 30vh;
            right: 0;
            img {
                z-index: 25;
                width: 20vw;
                position: absolute;
                bottom: 0;
            }
            #battle-area-com-character-word {
                z-index: 100;
                color: black;
                text-align: center;
                line-height: 22vw;
                background-image: url(../images/comDailogue.png);
                width: 30vw;
                height: 22vw;
                background-size: cover;
                position: absolute;
                left: -28vw;
                top: -2vh;
                transform: translateX(50%) scale(0.0);
            }
            button {
                display: none;
            }
        }
        &-pokemon {
            z-index: 10;
            // background-color: white;
            width: 50vw;
            height: 30vh;
            position: absolute;
            right: 20vw;
            img {
                position: absolute;
                bottom: 8vh;
                right: 5vw;
                width: 18vw;
                animation: wave 1.2s linear infinite;
            }
            div {
                position: absolute;
                // background-color: red;
                width: 30vw;
                right: 25vw;
                bottom: 15vH;
                p {
                    text-align: right;
                }
            }
        }
    }
}

section {
    width: 100vw;
    height: 60vh;
    display: grid;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 20vh;
    p,
    span {
        font-family: 'Signika', sans-serif;
        font-size: 2rem;
        color: white;
        font-weight: lighter;
        text-transform: uppercase;
    }
    img {
        width: 30vw;
    }
}