@-webkit-keyframes TextDisplay {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity: 0;
  }
  30% {
    opacity: 0.9;
  }
  50% {
    -webkit-transform: translateY(0%) scale(1.2);
            transform: translateY(0%) scale(1.2);
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
}

@keyframes TextDisplay {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity: 0;
  }
  30% {
    opacity: 0.9;
  }
  50% {
    -webkit-transform: translateY(0%) scale(1.2);
            transform: translateY(0%) scale(1.2);
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
}

@-webkit-keyframes BtnTwinkle {
  0% {
    -webkit-filter: brightness(1.3);
            filter: brightness(1.3);
  }
  50% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  100% {
    -webkit-filter: brightness(1.3);
            filter: brightness(1.3);
  }
}

@keyframes BtnTwinkle {
  0% {
    -webkit-filter: brightness(1.3);
            filter: brightness(1.3);
  }
  50% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  100% {
    -webkit-filter: brightness(1.3);
            filter: brightness(1.3);
  }
}

@-webkit-keyframes Twinkle {
  0% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  50% {
    -webkit-filter: brightness(2);
            filter: brightness(2);
  }
  100% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@keyframes Twinkle {
  0% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  50% {
    -webkit-filter: brightness(2);
            filter: brightness(2);
  }
  100% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@-webkit-keyframes BtnScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes BtnScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes PokemonBallShake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  1% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  2% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  3% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: scale(1.2) rotate(0deg);
            transform: scale(1.2) rotate(0deg);
  }
  34% {
    -webkit-transform: scale(1.2) rotate(-10deg);
            transform: scale(1.2) rotate(-10deg);
  }
  35% {
    -webkit-transform: scale(1.2) rotate(10deg);
            transform: scale(1.2) rotate(10deg);
  }
  36% {
    -webkit-transform: scale(1.2) rotate(0deg);
            transform: scale(1.2) rotate(0deg);
  }
  66% {
    -webkit-transform: scale(1.4) rotate(0deg);
            transform: scale(1.4) rotate(0deg);
  }
  67% {
    -webkit-transform: scale(1.4) rotate(-10deg);
            transform: scale(1.4) rotate(-10deg);
  }
  68% {
    -webkit-transform: scale(1.4) rotate(10deg);
            transform: scale(1.4) rotate(10deg);
  }
  69% {
    -webkit-transform: scale(1.4) rotate(0deg);
            transform: scale(1.4) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1.5) rotate(0deg);
            transform: scale(1.5) rotate(0deg);
  }
}

@keyframes PokemonBallShake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  1% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  2% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  3% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: scale(1.2) rotate(0deg);
            transform: scale(1.2) rotate(0deg);
  }
  34% {
    -webkit-transform: scale(1.2) rotate(-10deg);
            transform: scale(1.2) rotate(-10deg);
  }
  35% {
    -webkit-transform: scale(1.2) rotate(10deg);
            transform: scale(1.2) rotate(10deg);
  }
  36% {
    -webkit-transform: scale(1.2) rotate(0deg);
            transform: scale(1.2) rotate(0deg);
  }
  66% {
    -webkit-transform: scale(1.4) rotate(0deg);
            transform: scale(1.4) rotate(0deg);
  }
  67% {
    -webkit-transform: scale(1.4) rotate(-10deg);
            transform: scale(1.4) rotate(-10deg);
  }
  68% {
    -webkit-transform: scale(1.4) rotate(10deg);
            transform: scale(1.4) rotate(10deg);
  }
  69% {
    -webkit-transform: scale(1.4) rotate(0deg);
            transform: scale(1.4) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1.5) rotate(0deg);
            transform: scale(1.5) rotate(0deg);
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  13% {
    -webkit-transform: translate(4px, -6px);
            transform: translate(4px, -6px);
  }
  25% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  37% {
    -webkit-transform: translate(16px, -4px);
            transform: translate(16px, -4px);
  }
  50% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  63% {
    -webkit-transform: translate(16px, -4px);
            transform: translate(16px, -4px);
  }
  75% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  87% {
    -webkit-transform: translate(4px, -6px);
            transform: translate(4px, -6px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  13% {
    -webkit-transform: translate(4px, -6px);
            transform: translate(4px, -6px);
  }
  25% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  37% {
    -webkit-transform: translate(16px, -4px);
            transform: translate(16px, -4px);
  }
  50% {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  63% {
    -webkit-transform: translate(16px, -4px);
            transform: translate(16px, -4px);
  }
  75% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  87% {
    -webkit-transform: translate(4px, -6px);
            transform: translate(4px, -6px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes UserNormalAttack {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  60% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
  70% {
    -webkit-transform: scale(0.8) translate(-20%, -100%);
            transform: scale(0.8) translate(-20%, -100%);
  }
  40% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@keyframes UserNormalAttack {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  60% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
  70% {
    -webkit-transform: scale(0.8) translate(-20%, -100%);
            transform: scale(0.8) translate(-20%, -100%);
  }
  40% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@-webkit-keyframes ComNormalAttack {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  60% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
  70% {
    -webkit-transform: scale(0.8) translate(20%, 200%);
            transform: scale(0.8) translate(20%, 200%);
  }
  40% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@keyframes ComNormalAttack {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  60% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
  70% {
    -webkit-transform: scale(0.8) translate(20%, 200%);
            transform: scale(0.8) translate(20%, 200%);
  }
  40% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@-webkit-keyframes Shake {
  0% {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
  25% {
    -webkit-transform: translate(-10%, -10%);
            transform: translate(-10%, -10%);
  }
  50% {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
  75% {
    -webkit-transform: translate(-10%, -10%);
            transform: translate(-10%, -10%);
  }
  100% {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
}

@keyframes Shake {
  0% {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
  25% {
    -webkit-transform: translate(-10%, -10%);
            transform: translate(-10%, -10%);
  }
  50% {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
  75% {
    -webkit-transform: translate(-10%, -10%);
            transform: translate(-10%, -10%);
  }
  100% {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
}

@-webkit-keyframes ScorbunnySkill {
  0% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
  60% {
    -webkit-transform: scale(1.3) translate(0, 0);
            transform: scale(1.3) translate(0, 0);
  }
  70% {
    -webkit-transform: scale(0.8) translate(-20%, -100%);
            transform: scale(0.8) translate(-20%, -100%);
  }
  78% {
    -webkit-transform: scale(0.9) translate(-20%, -50%);
            transform: scale(0.9) translate(-20%, -50%);
  }
  85% {
    -webkit-transform: scale(0.8) translate(-20%, -100%);
            transform: scale(0.8) translate(-20%, -100%);
  }
  95% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@keyframes ScorbunnySkill {
  0% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
  60% {
    -webkit-transform: scale(1.3) translate(0, 0);
            transform: scale(1.3) translate(0, 0);
  }
  70% {
    -webkit-transform: scale(0.8) translate(-20%, -100%);
            transform: scale(0.8) translate(-20%, -100%);
  }
  78% {
    -webkit-transform: scale(0.9) translate(-20%, -50%);
            transform: scale(0.9) translate(-20%, -50%);
  }
  85% {
    -webkit-transform: scale(0.8) translate(-20%, -100%);
            transform: scale(0.8) translate(-20%, -100%);
  }
  95% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@-webkit-keyframes evolution {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes evolution {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes evolutionBack {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes evolutionBack {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Signika', sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: lighter;
}

body {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#background {
  width: 100%;
  height: 94%;
  position: relative;
}

audio {
  z-index: 100;
  opacity: 0.7;
  position: absolute;
  display: none;
}

#PH-area {
  margin-top: 1vh;
  width: 100vw;
  height: 16vh;
  position: relative;
}

#PH-area .PH-area-health-bar {
  width: 60vw;
  height: 3vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid white;
  border-radius: 2vh;
  margin-left: 5vw;
  overflow: hidden;
}

#PH-area .PH-area-health-bar .PH-area-health-bar-content {
  width: 20vw;
  height: 3vh;
  background-color: red;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#PH-area .PH-area-health-name, #PH-area .PH-area-health-point {
  font-size: 1rem;
  font-family: 'Signika', sans-serif;
  color: white;
}

#PH-area-user {
  width: 70vw;
  height: 8vh;
}

#PH-area-user-name, #PH-area-user-health-point {
  margin-left: 5vw;
}

#PH-area-com {
  width: 70vw;
  height: 8vh;
  position: absolute;
  right: 0;
  bottom: 2vh;
}

#PH-area-com-name, #PH-area-com-health-point {
  text-align: right;
  margin-right: 5vw;
}

#PH-area-com-health-bar {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#start-battle {
  z-index: 99;
  position: absolute;
  top: 40vh;
  left: 35vw;
  width: 30vw;
  height: 8vh;
  color: white;
  border-radius: 4vh;
  font-size: 1.2rem;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 1px 0 #001aff;
          box-shadow: 1px 1px 0 #001aff;
  background: -webkit-gradient(linear, left top, right top, color-stop(-43.33%, #FFFFFF), color-stop(-43.32%, #F4FF71), color-stop(121.11%, rgba(255, 92, 0, 0.79)));
  background: linear-gradient(90deg, #FFFFFF -43.33%, #F4FF71 -43.32%, rgba(255, 92, 0, 0.79) 121.11%);
}

#return,
#clear {
  width: 10vw;
  height: 10vw;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 0.5rem;
  text-shadow: 1px 1px 1px gray;
  border: 1px solid #ffe600;
  border-radius: 5vw;
  -webkit-box-shadow: 1px 1px 0 #001aff;
          box-shadow: 1px 1px 0 #001aff;
  background: -webkit-gradient(linear, left top, right top, color-stop(-43.33%, #FFFFFF), color-stop(-43.32%, #F4FF71), color-stop(121.11%, rgba(255, 92, 0, 0.79)));
  background: linear-gradient(90deg, #FFFFFF -43.33%, #F4FF71 -43.32%, rgba(255, 92, 0, 0.79) 121.11%);
}

#timer {
  width: 10vw;
  height: 60vh;
  position: absolute;
  bottom: 0;
}

#timer .timer-bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 6vw;
  height: 60vh;
  border: 2px solid white;
  border-radius: 0 0 3vw 3vw;
  margin-left: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#timer .timer-bar-current {
  height: 0;
  width: 3vw;
  background-color: #ff7300;
  position: relative;
}

#timer .timer-bar-current-img {
  width: 5vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  bottom: -4vw;
}

#timer #timer-com-bar-current {
  background-color: #00ffea;
  height: 0;
}

#timer #timer-com-bar-current-img {
  margin-left: -2vw;
}

#battle {
  width: 90vw;
  height: 80vh;
  position: absolute;
  left: 10vw;
  bottom: 0;
}

#battle p {
  font-family: 'Signika', sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: lighter;
}

#battle-area-user {
  width: 80vw;
  height: 50vh;
  position: absolute;
  left: 16vw;
  bottom: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#battle-area-user-character {
  z-index: 20;
  position: absolute;
  width: 30vw;
  height: 50vh;
  bottom: 5vh;
}

#battle-area-user-character img {
  height: 35vh;
  position: absolute;
  bottom: 0;
}

#battle-area-user-character div {
  width: 10vw;
  height: 10vw;
  background-image: url(../images/pokeBall.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 35vw;
  bottom: 8vh;
  -webkit-animation: BtnScale 0.3s linear infinite;
          animation: BtnScale 0.3s linear infinite;
}

#battle-area-user-pokemon {
  z-index: 10;
  width: 50vw;
  height: 30vh;
  position: absolute;
  left: 30vw;
}

#battle-area-user-pokemon img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20vw;
  -webkit-animation: wave 0.8s linear infinite;
          animation: wave 0.8s linear infinite;
}

#battle-area-user-pokemon div {
  position: absolute;
  width: 30vw;
  left: 20vw;
  bottom: 10vw;
}

#battle-area-user-pokemon div p {
  font-family: 'Signika', sans-serif;
  font-size: 1rem;
  color: white;
}

#battle-area-user-btn {
  width: 30vw;
  height: 20vh;
  position: absolute;
  right: -6vw;
  bottom: 0;
}

#battle-area-user-btn #attack {
  background-color: red;
}

#battle-area-user-btn #buff {
  background-color: blue;
}

#battle-area-user-btn #stop {
  background-color: purple;
}

#battle-area-user-btn #healing {
  background-color: green;
}

#battle-area-user-btn button {
  width: 30vw;
  height: 4vh;
  color: white;
  border-radius: 2vh;
  display: block;
  margin-bottom: 1vh;
}

#battle-area-user-btn #skill-btn {
  z-index: 99;
  width: 20vw;
  height: 5vh;
  position: absolute;
  border-radius: 2.5vh;
  left: -26vw;
  top: 10vh;
  color: white;
  font-family: 'Signika', sans-serif;
  font-size: 0.8rem;
  text-shadow: 0 0 5px #000000;
  background: -webkit-gradient(linear, left top, right top, color-stop(-43.33%, #00FF29), color-stop(42.31%, #EBFF00), color-stop(121.11%, rgba(255, 0, 0, 0.79)));
  background: linear-gradient(90deg, #00FF29 -43.33%, #EBFF00 42.31%, rgba(255, 0, 0, 0.79) 121.11%);
  -webkit-animation: BtnTwinkle 0.3s linear infinite;
          animation: BtnTwinkle 0.3s linear infinite;
  display: none;
}

#battle-area-user-btn #battle-area-user-character-btn {
  z-index: 99;
  width: 10vw;
  height: 10vw;
  background-image: url(../images/pokeBall.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: -20vw;
  bottom: 12vh;
  -webkit-animation: BtnScale 0.3s linear infinite;
          animation: BtnScale 0.3s linear infinite;
  display: none;
}

#battle-area-user-skill {
  width: 50vw;
  height: 10vh;
  position: absolute;
  bottom: 0;
  left: 3vw;
}

#battle-area-user-skill #spirit-bar-max {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50vw;
  height: 3vh;
  border: 1px solid white;
  border-radius: 1.5vh;
  overflow: hidden;
  position: absolute;
  bottom: 1vh;
}

#battle-area-user-skill #spirit-bar-max-current {
  width: 22vw;
  height: 3vh;
  background-color: red;
  border-radius: 1.5vh;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#battle #battle-area-user-btn {
  width: 30vw;
  height: 20vh;
  position: absolute;
  right: 2vw;
  bottom: 0;
}

#battle #battle-area-user-btn #attack {
  background-color: red;
}

#battle #battle-area-user-btn #buff {
  background-color: blue;
}

#battle #battle-area-user-btn #stop {
  background-color: purple;
}

#battle #battle-area-user-btn #healing {
  background-color: green;
}

#battle #battle-area-user-btn button {
  width: 30vw;
  height: 4vh;
  color: white;
  border-radius: 2vh;
  display: block;
  margin-bottom: 1vh;
}

#battle #battle-area-user-btn #skill-btn {
  z-index: 99;
  width: 20vw;
  height: 5vh;
  position: absolute;
  border-radius: 2.5vh;
  left: -26vw;
  top: 10vh;
  color: white;
  font-family: 'Signika', sans-serif;
  font-size: 0.8rem;
  text-shadow: 0 0 5px #000000;
  background: -webkit-gradient(linear, left top, right top, color-stop(-43.33%, #00FF29), color-stop(42.31%, #EBFF00), color-stop(121.11%, rgba(255, 0, 0, 0.79)));
  background: linear-gradient(90deg, #00FF29 -43.33%, #EBFF00 42.31%, rgba(255, 0, 0, 0.79) 121.11%);
  -webkit-animation: BtnTwinkle 0.3s linear infinite;
          animation: BtnTwinkle 0.3s linear infinite;
  display: none;
}

#battle #battle-area-user-btn #battle-area-user-character-btn {
  z-index: 99;
  width: 10vw;
  height: 10vw;
  background-image: url(../images/pokeBall.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: -20vw;
  bottom: 12vh;
  -webkit-animation: BtnScale 0.3s linear infinite;
          animation: BtnScale 0.3s linear infinite;
  display: none;
}

#battle-area-com {
  width: 60vw;
  height: 30vh;
  position: absolute;
  right: 5vw;
  top: 0;
}

#battle-area-com-character {
  z-index: 5;
  position: absolute;
  width: 20vw;
  height: 30vh;
  right: 0;
}

#battle-area-com-character img {
  width: 20vw;
  position: absolute;
  bottom: 0;
}

#battle-area-com-character button {
  display: none;
}

#battle-area-com-pokemon {
  z-index: 10;
  width: 50vw;
  height: 30vh;
  position: absolute;
  right: 20vw;
}

#battle-area-com-pokemon img {
  position: absolute;
  bottom: 10vh;
  right: 5vw;
  width: 18vw;
  -webkit-animation: wave 1.2s linear infinite;
          animation: wave 1.2s linear infinite;
}

#battle-area-com-pokemon div {
  position: absolute;
  width: 30vw;
  right: 25vw;
  bottom: 15vH;
}

#battle-area-com-pokemon div p {
  text-align: right;
}

section {
  width: 100vw;
  height: 60vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: absolute;
  top: 20vh;
}

section p,
section span {
  font-family: 'Signika', sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
}

section img {
  width: 30vw;
}
/*# sourceMappingURL=Battle.css.map */